
  <img class="image" src="../images/beer.png"
<div>
  <a class="nav-item nav-link" href="/beers"><button class="btn">Check the Beers</button></a>
  <a class="nav-item nav-link" href="/random-beers"><button class="btn">Check a Random Beer</button></a>
</div>
